@use 'base';

.container {
  background-color: rgb(52, 58, 64);
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: base.$text-color-light;
  justify-content: space-between;
}

.brand {
  padding: 15px;
}

.menu {
  &__collapsed {
    display: none;
  }
  display: block;
  text-align: center;
  width: 100%;
}

.link {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: base.$text-color-light;
  &:hover {
    transition: ease-in 0.3s;
    background-color: rgba(40, 40, 40, 0.7);
  }
}

.bars {
  height: 1em;
  padding: 15px;
  filter: invert(99%) sepia(1%) saturate(106%) hue-rotate(135deg) brightness(114%) contrast(80%);
}


@media (min-width: base.$tablet-breakpoint) {
  .navbar {
    flex-wrap: nowrap;
  }

  .bars {
    display: none;
  }

  .menu {
    &__collapsed {
      display: inline-block;
    }
    width: auto;
  }

  .link {
    display: inline-block;
  }
}